.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 170px;
}
.Navbar img{
    height:60px;
    width:60px;
    border-radius: 50%;
}
.nav-menu{
    display:flex;
    align-items: center;
    list-style: none;
    gap:60px;
    font-size:18px;
}
.anchor-link{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}
.anchor-link:hover{
    color: #DA7C25;
}
.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media (max-width:768px){
    .Navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right:30px;
    } 
    .nav-mob-close{
        display:block;
        position: relative;
        top:30px;
        left: 290px;
        width:30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items:start;
        top:0;
        gap:20px;
        background-color: #1F0016;
        width:350px;
        height:100%;
        z-index:2;
        transition: 0.2s;
        right:-350px;
    }
    .nav-menu li{
        font-size: 25px;
        padding-left: 100px;
        flex-direction: row;
        gap:20px;
    }
}